@font-face {
    font-family: October-Crow;
    src: url(../fonts/OctoberCrow.ttf) format("truetype");
}

@font-face {
    font-family: comic-sans;
    src: url(../fonts/COMIC.TTF) format("truetype");
}

@keyframes afk {
    0%, 100% {opacity: 100%;}
    70% {opacity: 100%;}
    90% {opacity: 50%;}
    99% {opacity: 50%;}
}

:root {
    --black: #191919;
    --grey: #272727;
    --white: #dedede;
    --hover-black: #000000;
    --hover-white: #ffffff;
    --gameBG: #2f2f2f;
}


body {
    background-color: var(--black);
    text-shadow: 0 0 30px #000000;
    color: var(--white);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#Ghostly-Business {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    border-radius: 5%;
    background-color: var(--gameBG);
    border: solid 5px var(--grey);
    width: 50%;
    min-width: 410px;
    min-height: 300px;
    height: 60%;
    padding: 3%;
    overflow: hidden;
}


#logo {
    text-align: center;
    color: var(--white);
    font-family: October-Crow;
    font-size: 50px;
    height: 1vmin;
}

#chapter {
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    color: var(--white);
    font-family: comic-sans;
}

#text {
    text-align: center;
    font-weight: 600;
    color: var(--white);
    font-family: comic-sans;
}


#image {
    width: 100%;
    object-fit: cover;
    align-self: flex-end;
}

#video {
    width: 100%;
    object-fit: cover;
    align-self: flex-end;
}

#button-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-self: flex-end;
    margin-top: 10px;
}

.choice {
    background-color: var(--white);
    color: var(--black);
    border: solid 3px var(--black);
    flex-basis: 15%;
    min-width: 90px;
    height: 5vh;
    min-height: 25px;
    font-weight: 800;
    font-size: 12px;
    font-family: comic-sans;
    border-radius: 5px;
    animation-name: afk;
    animation-duration: 600s;
    animation-iteration-count: 1;
}

.choice:hover {
    background-color: var(--hover-white);
    color: var(--hover-black);
}

.hidden {
    display: none;
}

.achievement-container{
    display: flex;
    border-radius: 5%;
    background-color: var(--gameBG);
    border: solid 5px var(--grey);
    width: 40%;
    min-width: 405px;
    min-height: 200px;
    height: 60%;
    padding: 3%;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
}

.achievement-text{
    font-size: 20px;
    font-family: comic-sans;
}

.achievement-list{
    display: flex;
    width: 100%;
    min-width: 300px;
    min-height: 300px;
    height: 100%;
    padding: 3%;
    overflow: hidden;
    flex-wrap: wrap;
    text-align: center;
}

.iconAchievement{
    width: 75px;
    height: 75px;
}

.achievement{
    flex-basis: 25%;
}

.textAchievement{
    width: 75px;
    font-family: comic-sans;
    font-size: 14px;
    width: 100%;
}

.hidden.achievement-container{
    display: none;
}

.achievement-container.hidden > *{
    display: none;
}

.achievement-container.hidden .achievement-list{
    display: none;
}

.locked{
    filter: grayscale(100%);
}

header{
    display: flex;
    background-color: var(--hover-black);
    width: 100%;
    height: 100%;
    margin-bottom: 2%;
}

.navigation{
    font-size: 140%;
    height: 5vw;
    min-height: 35px;
    background-color: var(--gameBG);
    color: var(--white);
    border: none;
    transition-duration: 0.5s;
    margin: 0.3%;
    flex-basis: 100%;
}

.navigation:hover{
    color: var(--hover-white);
    background-color: var(--black);
}

/*Light Mode*/
.light {
    --black: #fcfcfc;
    --grey: #c0c0c0;
    --white: #202020;
    --hover-black: #d3d3d3;
    --hover-white: #000000;
    --gameBG: #e3e3e3;
}

/*Tablette*/
@media screen and (max-width: 768px) {
    body{
        min-width: 425px;
        align-content: flex-start;
    }
    #Ghostly-Business{
        width: 80%;
        min-width: 300px;
        height: 70%;
    }
    header{
        flex-wrap: wrap;
    }
    .navigation{
        flex-basis: 49.4%;
    }
    .achievement-container{
        min-width: 300px;
        width: 80%;
    }
}

/*Mobile Large*/
@media screen and (max-width: 425px) {
    header{
        flex-wrap: wrap;
    }
    .navigation{
        flex-basis: 97%;
    }
}

/*Mobile Petit*/
@media screen and (max-width: 320px) {
    header{
        flex-wrap: wrap;
    }
    .navigation{
        flex-basis: 97%;
        margin-top: 1%;
    }
}