:root {
    --black: #191919;
    --grey: #272727;
    --white: #dedede;
    --hover-black: #000000;
    --hover-white: #ffffff;
}

@font-face {
    font-family: October-Crow;
    src: url(../fonts/OctoberCrow.ttf) format("truetype");
}

@font-face {
    font-family: comic-sans;
    src: url(../fonts/COMIC.TTF) format("truetype");
}

body {
    background-color: var(--black);
    text-shadow: 0 0 30px #000000;
    color: var(--white);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Ghostly-Business {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 5%;
    border: solid 5px var(--grey);
    width: 45%;
    min-width: 300px;
    min-height: 300px;
    height: 60%;
    padding: 3%;
    overflow: hidden;
}


#logo {
    text-align: center;
    color: var(--white);
    font-family: October-Crow;
    font-size: 50px;
    height: 1vmin;
}

#chapter {
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    color: var(--white);
    font-family: comic-sans;
}

#text {
    text-align: center;
    font-weight: 600;
    color: var(--white);
    font-family: comic-sans;
}


#image {
    display:none;
    width: 100%;
    object-fit: cover;
    align-self: flex-end;
}

#video {
    display: none;
    width: 100%;
    object-fit: cover;
    align-self: flex-end;
}

#button-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-self: flex-end;
    margin-top: 10px;
}

.choice {
    background-color: var(--white);
    color: var(--black);
    border: none;
    width: 10vw;
    min-width: 90px;
    height: 5vh;
    min-height: 25px;
    font-weight: 800;
    font-size: 12px;
    font-family: comic-sans;
    border-radius: 5px;
}

.choice:hover {
    background-color: var(--hover-white);
    color: var(--hover-black);
}